body {
  background-color: antiquewhite;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header div ol li img {
  height: 60px;
  width: auto;
  border: solid 2px black;
}

header div ol {
  display: flex;
  list-style: none;
  gap: 10px;
}

header div ol li p b {
  font-family: "Jersey 25", sans-serif;
  font-weight: 500;
  font-style: oblique;
  font-size: xx-large;
}

header div ol li button {
  background-color: rgb(193, 193, 193);
  cursor: pointer;
  font-size: x-large;
  font: 1em sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid 5px black;
  background-color: azure;
}

.main div ol {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 300px;
}

.main div ol button li {
  font-size: x-large;
  cursor: pointer;
}

.main div ol button {
  font-size: x-large;
  cursor: pointer;
}

.area {
  border: solid 2px black;
  background-image: url(./basket/OIG1.jpeg);
  background-size: cover;
  height: 520px;
  width: 520px;
}

.level_all {
  border: solid 2px black;
  width: 350px;
  height: 520px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.score {
  border: solid 2px black;
  height: 520px;
  width: 350px;
  background-color: aquamarine;
}

.level {
  width: 200px;
  height: 30px;
  border: solid 2px saddlebrown;
  background-color: salmon;
  color: seagreen;
  cursor: pointer;
}

.level_selected {
  width: 200px;
  height: 30px;
  border: solid 2px rgb(78, 34, 3);
  background-color: rgb(255, 76, 56);
  color: rgb(9, 114, 54);
  cursor: pointer;
}

.score div {
  text-align: center;
  padding-top: 100px;
}

#click_fruit {
  transform: rotate(30deg) scale(1.5) translate(10px, 5px) opacity(50%);
}

footer {
  background-image: url(./basket/foot_back.png);
  background-size: cover;
  padding: 100px;
}

.img {
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.img img {
  border-radius: 50%;
  height: 100px;
  width: auto;
}

.content {
  color: white;
}

footer div img {
  height: 25px;
  width: 22px;
}

.game button {
  border: solid 2px gray;
  color: gray;
  background-color: black;
  height: 60px;
  width: 300px;
  font-size: x-large;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .dd {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .area {
    border: solid 2px black;
    background-image: url(./basket/OIG1.jpeg);
    background-size: cover;
    height: 300px;
    width: 300px;
  }
  .level_all {
    border: solid 2px black;
    width: 300px;
    height: 420px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
  }
  .main div ol {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 100px;
  }
  .score {
    border: solid 2px black;
    height: 520px;
    width: 300px;
    background-color: aquamarine;
  }
  header div ol li p b {
    font-family: "Jersey 25", sans-serif;
    font-weight: 500;
    font-style: oblique;
    font-size: large;
  }
}
